.projects {
  height: 100vh;
}
.projects__items {
  border: none;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.project__title {
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  color: white;
  margin-top: 15vh;
  margin-bottom: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.project__img {
  width: 370px;
  height: 250px;
  margin-top: 7vh;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.img__border__project {
  margin-bottom: 40px;
}
.projects__text {
  text-align: center;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}
.calc {
  display: none;
  margin-bottom: 60px;
}
.btn__calc {
  border: none;
  padding: 15px;
  color: white;
  background: #005cbf;
}
.calculator {
  display: none;
  margin-top: 22vh;
  margin-bottom: 20vh;
}
.calculator__items {
  border: 2px solid rgba(105, 105, 105, 0.3);
  margin-bottom: 10px;
}
.calculator__items:hover {
  border: 2px solid #005cbf;
}
.calculator__select {
  width: 100%;
}
.t_out {
  width: 100%;
}
.moreFunc {
  width: 100%;
  list-style-type: none;
  display: none;
}
.check__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  list-style-type: none;
}
.check__items li {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}
.resultCalc {
  width: 100%;
  border: none;
  text-align: right;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: #F2EFEA;
}
.resultBtn {
  border: none;
  background: #005cbf;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.resultBtn:hover {
  background: #007bff;
}
.showResult {
  width: 100%;
  border: none;
  text-align: center;
  color: green;
  font-size: 25px;
  font-weight: bold;
  background: #F2EFEA;
}
