@import "bootstrap-grid.min.css";
@import "bootstrap.css";
@import "fullpage.css";
.header {
  position: relative;
  height: 100vh;
}
.header__text {
  margin-top: 5vh;
  color: white;
}
.header__form {
  margin-bottom: 10vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}
.header__form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 55px;
}
.header__form__btn {
  margin-left: 15px;
  height: 55px;
  border: none;
  padding: 15px;
  background: #005cbf;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.logo {
  width: 40px;
  height: 40px;
}
.top__menu {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 56px;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
.top__menu__items {
  list-style-type: none;
}
.top__menu__items a {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  padding-right: 7px;
  padding-left: 7px;
}
.top__menu__items a:hover {
  color: #005cbf;
}
li.active {
  border-bottom: 3px solid #005cbf;
  padding-bottom: 15px;
  color: #005cbf;
}
li.active a {
  color: #005cbf;
}
.top__info {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  padding-top: 15px;
}
.text__header__center {
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  font-size: 40px;
  text-align: center;
}
.text__header__bottom {
  width: 50%;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  font-size: 25px;
  text-align: right;
}
.top__info__content {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 13px;
  margin-left: 20px;
}
.header__title {
  font-family: 'Lato', sans-serif;
  color: white  ;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 55px;
  margin-top: 30vh;
  margin-bottom: 5vh;
  border-radius: 25px;
}
.burger__btn {
  display: none;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.burger__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.burger__info {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 15px;
  margin-top: 25px;
  margin-left: 20px;
}
.top__menu__burger {
  position: fixed;
  width: 100vw;
  height: 50vh;
  top: 65px;
  z-index: 100;
  display: none;
  background: rgba(0, 0, 0, 0.9);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.burger__btn__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.8);
}
.top__menu__items__berger {
  list-style-type: none;
}
.top__menu__items__berger a {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 20px;
  padding-right: 40px;
}
.menu__top {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.product {
  height: 100vh;
  background: #F2EFEA;
}
.img__product {
  width: 100%;
  height: 570px;
}
.main__title__product {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 18vh;
  padding-bottom: 30px;
}
.product__logo {
  width: 100%;
  height: 250px;
}
.product__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-top: 14vh;
  margin-bottom: 20px;
}
.product__items__title {
  text-transform: uppercase;
  font-weight: 300;
}
.product__text__about {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.product__text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lobster', cursive;
  font-family: 'Teko', sans-serif;
}
.about_team {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main__title__about__team {
  margin-top: 18vh;
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}
.photo__team {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 100%;
}
.text__about__team {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.about__team__items {
  color: white;
  background: rgba(122, 115, 102, 0);
  border: none;
  margin-top: 7vh;
}
.projects {
  height: 100vh;
}
.projects__items {
  border: none;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.project__title {
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  color: white;
  margin-top: 15vh;
  margin-bottom: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.project__img {
  width: 370px;
  height: 250px;
  margin-top: 7vh;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.img__border__project {
  margin-bottom: 40px;
}
.projects__text {
  text-align: center;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}
.calc {
  display: none;
  margin-bottom: 60px;
}
.btn__calc {
  border: none;
  padding: 15px;
  color: white;
  background: #005cbf;
}
.calculator {
  display: none;
  margin-top: 22vh;
  margin-bottom: 20vh;
}
.calculator__items {
  border: 2px solid rgba(105, 105, 105, 0.3);
  margin-bottom: 10px;
}
.calculator__items:hover {
  border: 2px solid #005cbf;
}
.calculator__select {
  width: 100%;
}
.t_out {
  width: 100%;
}
.moreFunc {
  width: 100%;
  list-style-type: none;
  display: none;
}
.check__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  list-style-type: none;
}
.check__items li {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}
.resultCalc {
  width: 100%;
  border: none;
  text-align: right;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: #F2EFEA;
}
.resultBtn {
  border: none;
  background: #005cbf;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.resultBtn:hover {
  background: #007bff;
}
.showResult {
  width: 100%;
  border: none;
  text-align: center;
  color: green;
  font-size: 25px;
  font-weight: bold;
  background: #F2EFEA;
}
.technology__main__title {
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin-top: 18vh;
  margin-bottom: 15px;
}
.technology__text {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}
.technology__logo {
  width: 150px;
  border-radius: 100%;
  height: 150px;
}
canvas {
  display: block;
  vertical-align: bottom;
}
.technology__items {
  margin: 0 auto;
}
.technology__small {
  display: none;
}
.technology__items__small {
  width: 30%;
}
.technology__logo__small {
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 100%;
}
.text__technology__small {
  color: white;
  text-transform: uppercase;
}
.arguments {
  color: white;
}
.main__title__arguments {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 18vh;
}
.img__border__arguments {
  margin-bottom: 30px;
}
.main__arguments__title {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4vh;
}
.arguments__title {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.arguments__text {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
}
.footer {
  margin: 0 auto;
  background: #2C2C32;
  color: white;
  height: 100vh;
}
.contact__title {
  margin-top: 15vh;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.contact__info {
  font-family: 'Lato', sans-serif;
  color: white;
  margin-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.contanct__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}
.contact__item__title {
  font-weight: bold;
}
.btn__sendmass {
  background: rgba(122, 115, 102, 0.4);
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 7px;
  margin-top: 5px;
}
#textMass {
  margin-top: 15px;
  padding-top: 10px;
  width: 100%;
  font-size: 18px;
  border: none;
  color: white;
  background: #2B2C31;
  border-bottom: 1px solid white;
}
#nameId,
#emailId {
  margin-top: 25px;
  width: 100%;
  border: none;
  color: white;
  font-size: 18px;
  background: #2B2C31;
  border-bottom: 1px solid white;
}
.file__task {
  margin-right: 10px;
  font-size: 18px;
  opacity: 0.5;
}
.title__partners {
  text-transform: uppercase;
}
.footer__content {
  padding-top: 30px;
  margin-bottom: 3vh;
}
@media only screen and (max-width: 767px) {
  .menu__top {
    display: none;
  }
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger__btn {
    display: block;
  }
  .header__title {
    font-size: 38px;
    margin-top: 20vh;
  }
  .header__form {
    margin-bottom: 15vh;
  }
  .header__form__items {
    width: 100%;
    margin-top: 10px;
  }
  .header__form__btn {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .main__title__product {
    margin-top: 15vh;
  }
  .product__logo {
    width: 300px;
    height: 250px;
  }
  .project__title {
    margin-top: 15vh;
  }
  .product__items {
    margin: 0 auto;
  }
  .project__img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .technology__big {
    display: none;
  }
  .contact__title {
    margin-top: 15vh;
  }
  .technology__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .technology__logo__small {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .main__title__product {
    margin-top: 25vh;
  }
  .top__menu__burger {
    height: 100vh;
  }
  .top__menu__items__berger a {
    font-size: 22px;
  }
  .project__title {
    margin-top: 25vh;
  }
  .product__logo {
    width: 450px;
    height: 250px;
  }
  .project__img {
    width: 450px;
    height: 250px;
    margin: 0 auto;
  }
  .technology__big {
    display: none;
  }
  .technology__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .technology__logo__small {
    width: 45%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1028px) {
  .menu__top {
    display: none;
  }
  .burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger__btn {
    display: block;
  }
  .header__title {
    font-size: 38px;
    margin-top: 35vh;
  }
  .product__logo {
    width: 450px;
    height: 250px;
  }
  .project__img {
    width: 450px;
    height: 250px;
    margin: 0 auto;
  }
  .technology__big {
    display: none;
  }
  .technology__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .technology__logo__small {
    width: 45%;
  }
}
body {
  background: url(../img/landingPage-bg.jpg) no-repeat center top / cover;
}
.content__landingPage {
  margin-top: 18vh;
  color: white;
}
.content__landingPage h1 {
  font-size: 37px;
}
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0;
}
.bold {
  font-weight: 400;
}
.section {
  text-align: center;
}
.section {
  background-size: cover;
  background-repeat: no-repeat;
}
#section0 {
  background-image: url(../img/top-banner.jpg);
}
#section2 {
  background: url(../img/portfolio-bg.jpg) no-repeat center top / cover;
}
#section3 {
  background: url(../img/team-bg.jpeg) no-repeat center top / cover;
}
#section4 {
  background: url(../img/techno-bg.jpg) no-repeat center top / cover;
}
#section5 {
  background: url(../img/bg-arguments.jpeg) no-repeat center top / cover;
}
#back-top a {
  display: block;
  text-align: center;
  font: 12px Arial, Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}
#back-top a:hover {
  color: #000;
}
#back-top span {
  display: none;
  width: 47px;
  height: 47px;
  display: block;
  margin-bottom: 7px;
}
.back__img {
  width: 55px;
  height: 55px;
}
