.technology__main__title {
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin-top: 18vh;
  margin-bottom: 15px;
}
.technology__text {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}
.technology__logo {
  width: 150px;
  border-radius: 100%;
  height: 150px;
}
canvas {
  display: block;
  vertical-align: bottom;
}
.technology__items {
  margin: 0 auto;
}
.technology__small {
  display: none;
}
.technology__items__small {
  width: 30%;
}
.technology__logo__small {
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 100%;
}
.text__technology__small {
  color: white;
  text-transform: uppercase;
}
